
<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>goinghugh</title>
    <link rel="stylesheet" href="{% static 'css/semantic.css' %}" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/Blogs.css' %}" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="{% static 'wangEditor/dist/css/wangEditor.min.css' %}" media="screen" title="no title" charset="utf-8">

  </head>
  <body style="background-color: #eeeeee">

    {% block header %}
      <div style="background-color: #2c3e50" class="ui inverted  top menu borderless menu">
        <div class="header item">
          <a href="{% url 'index' %}">
            <img src="{% static 'images/g.png'%}" alt="" />
          </a>

            {% if request.user.is_authenticated %}
              <a href="{% url 'new_blog_form' %}" class="item">写一篇</a>
            {% endif %}
          <a href="#" class="right"></a>
        </div>
        <div class="right menu">
            <div class="item">
                <a href="{% url 'index' %}" class="right item">BLOG</a>
            </div>
            <div class="item">
                <a href="#" class="right item">ABOUT ME</a>
            </div>
            <div class="item"></div>
            <div class="item">
              {% if  request.user.is_authenticated %}
                <a class="ui inverted circular button" href="{% url 'logout' %}">LOGOUT</a>
              {% else %}
                <a class="ui inverted circular button" href="{% url 'login' %}">LOGIN</a>
              {% endif %}

          </div>
        </div>
      </div>

    {% endblock header %}

      <div class="ui vertical basic container segment">
      {% block content %}
        <div class="ui grid">
            <div class="row">
                <div class="twelve wide column">
                    <div class="ui vertical container segment">
                         {% for blog in blogs %}
                            <div class="ui container segment">
                                <a style="font-size: 20px;padding-bottom: 5px;" href="{% url "blog" blog.id %}">
                                    {{ blog.title }}
                                </a>
                                <br>
                                <span style="font-size: 10px">
                                    <i class="calendar icon"></i>
                                    {{ blog.createtime }}
                                </span>
                                {% autoescape off %}
                                    <h6>
                                        {{ blog.blog_digest }}
                                    </h6>
                                {% endautoescape %}
                            </div>
                        {% endfor %}
                    </div>

                </div>
                <div style="display: none" class="three wide column">
                    <div class="ui vertical borderless menu ">
                            <div class="item">
                                标签
                            </div>
                            <div class="ui divider"></div>
                            <div class="item">
                                <a href="#">
                                    <p>
                                        <span class="ui right floated">
                                            python
                                        </span>
                                        <span style="float: right" class="ui right floated">
                                            2
                                        </span>
                                    </p>
                                </a>
                            </div>
                            <div class="item">
                                <a href="#">django</a>
                            </div>
                            <div class="item">
                                <a href="#">django</a>
                            </div>
                            <div class="item">
                                <a href="#">django</a>
                            </div>
                            <div class="item">
                                <a href="#">django</a>
                            </div>
                        </div>
                </div>

            </div>
        </div>
      {% endblock %}

      </div>
    {% block article %}

    {% endblock %}
    {% block footer %}
        <div style="background-color: #2c3e50" class="ui inverted vertical bottom  segment">
            <div class="ui grid container ">
                <div class="eight wide column">
                    Designed by yongxu wang.
                </div>
                <div class="eight wide column">
                    CONTACT ME
                </div>
            </div>
        </div>
    {% endblock %}
  </body>
<script type="text/javascript" src="{% static "wangEditor/dist/js/lib/jquery-1.10.2.min.js" %}"></script>
<script type="text/javascript" src="{% static "wangEditor/dist/js/wangEditor.min.js" %}"></script>
{% block js %}

{% endblock %}

</html>
